/* ResourceList.css */
.resource-list {
  flex: 1;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 10px; /* Add a border radius */
  background-color: #fefffe; /* Add a background color to the resource list */
  overflow: auto; /* Add overflow to allow scrolling if needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.resource-list h2 {
  font-family: "Product Sans", Arial, sans-serif;
  color: #1e1e1f;
  margin-left: 8px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Adjust this to control the space between cards */
}

.welcome-section {
  width: 100%;
  padding: 40px;
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.welcome-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-info {
  font-size: 18px;
  font-family: "Product Sans", Arial, sans-serif;
  color: #1e1e1f; /* Slightly lighter text color */
}

.contact-info a {
  color: #e5a600;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

.welcome-image {
  max-width: 300px; /* Adjust the width as needed */
  margin-top: 20px;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
